@font-face {
    font-family: 'Fira Sans Condensed Semibold';
    src: url('../fonts/FiraSansCondensed-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Condensed Regular';
    src: url('../fonts/FiraSansCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ############################################################################

General

############################################################################ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed Regular';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
}
body {
    min-width: 320px;
    overflow-x: hidden;
}

/* ############################################################################

Header

############################################################################ */

.header {
    background-color: #141435;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.center1690 {
    max-width: 1690px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.header__center {
    display: flex;
    height: 84px;
    justify-content: space-between;
    position: relative;
}

@media (max-width: 650px) {
    .header__center {
        width: 280px;
    }
}

@media (max-width: 1355px) { 
    .header__center {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.header__left-side {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__logo {
    margin-right: 135px;
}

@media (max-width: 1355px) {
    .header__logo {
        display: none;
    }
}

.header__nav {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.header__burger {
    display: none;
}

@media (max-width: 1355px) {
    .header__burger {
        display: block;
        z-index: 22;
    }
}

.burger {  
    background-color: transparent;
    border: none;
    outline: none;
}

.burger__line {
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #ffffff;
}

.nav__menu {
    display: flex;
    position: relative;
    height: 100%;
}

@media (max-width: 1355px) {
    .nav__menu {
        position: fixed;
        display: block;
        top: 84px;
        left: 20px;
        opacity: 0;
        /* transform: translateY(-100%); */
        transition: opacity 0.3s;
    }

    .nav__menu_active {
        opacity: 1;
    }
}

.nav__item {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-right: 50px;
    font-family: 'Poppins Regular';
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    position: relative;
}

@media (max-width: 1355px) {
    .nav__item {
        height: 30px;
    }
}

.nav__lines{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

@media (max-width: 1355px) {
    .nav__lines {
        display: none;
    }
}

.nav__item:before {
    content: attr(data-but);
    position: absolute;
    background: linear-gradient(to left, #ff7d56 0%, #ff498e 100%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: width 1s;
    width: 0;
    line-height: 24px;
}

.but:hover:before {
    width: 100%;
}

.but:hover svg {
    opacity: 1;
}

.header__right-side {
    display: flex;
    align-items: center;
}

.header__search {
    background-color: #3d466a;
    border: none;
    border-radius: 17px;
    padding: 11px 10px;
    color: #ffffff;
    outline: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.header__search_active {
    opacity: 1;
}

.header__button { 
    margin-right: 26px;
}

.header__button:last-child {
    margin-right: 0;
}

.basket {
    background-color: transparent;
    border: none;
    width: 26px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.basket:hover {
    transform: scale(1.3);
}

.search {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.search:hover {
    transform: scale(1.3);
}

.header__basket-right-side {
    height: 100%;
    position: fixed;
    background-color: #3d466a;
    right: 0;
    z-index: 22;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-top: 140px;
    padding-left: 10px;
    padding-right: 10px;
}

.header__basket-right-side_active {
    transform: translateX(0);
}

.basket-right-side__close {
    position: absolute;
    top: 100px;
    right: 25px;
    background-color: transparent;
    border: none;
    background-image: url("../img/x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;    
}

.basket__unit::before {
    counter-increment: section;
    content: counters(section, ".");
    color: #ffffff;
    font-family: 'Fira Sans Condensed Semibold';
    font-size: 25px;
    line-height: 25px;
    justify-self: center;
    align-self: center;
    grid-row: 1/3;
}

/* ############################################################################

main__section1

############################################################################ */

.section_photo {
    background-image: url("../img/danceparty.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1b2136;
    background-blend-mode: soft-light;
}

.section__intro {
    display: flex;
    flex-direction: column;
    padding-top: 459px;
    padding-bottom: 396px;
    align-items: center;
}

@media (max-width:1355px) {
    .section__intro {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.intro__title {
    color: #ffffff;
    font-family: 'Fira Sans Condensed Semibold';
    font-size: 60px;
    line-height: 44px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

@media (max-width:665px) {
    .intro__title {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 15px;
    }
}

.intro__feature {
    text-align: center;
    color: #e8e8e8;
    font-family: 'Poppins Regular';
    width: 577px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 41px;;
}

@media (max-width:665px) {
    .intro__feature {
        width: 280px;
        font-size: 12px;
        line-height: 14px;
    }
}

.button-arr {
    width: 140px;
    height: 55px;
    background-color: transparent;
    border: none;
    position: relative;    
}

.button-arr__arrow {
    position: relative;
    z-index: 20;
}

.intro__button:before {
    content: "";
    position: absolute;
    left: 62px;
    top: 0;
    background-image: linear-gradient(to left, #ff7d56 0%, #ff498e 100%);   
    width: 0;
    transition: width 1s;
    height: 55px;
    z-index: 0;
}

.intro__button:hover:before {
    width: 110px;
}

.intro__social-list {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%);
}

@media (max-width:665px) {
    .intro__social-list {
        display: none;
    }
}

.intro__social-webs {
    object-fit: cover;
    fill: #b7bad2;
}

.grad {
    opacity: 0;
    transition: all 0.3s;
}

.intro__social-list a:hover .grad {
    opacity: 1;
    transition: all 0.3s;
}

.intro__social-list li {
    margin-bottom: 26px;
}

.intro__social-list li:last-child {
    margin-bottom: 0;
}

/* ############################################################################

main__section2

############################################################################ */

.section_gray {
    background-color: #1b2136;
}

.center {
    max-width: 1170px;
    min-width: 320px;
    margin: 0 auto;
    position: relative; 
}

.section__listen {
    padding-top: 107px;
    padding-bottom: 107px;
}

@media (max-width:1355px) {
    .section__listen {
        padding-right: 20px;
        padding-left: 20px;
        width: 900px;
    }
}

@media (max-width:980px) {
    .section__listen {
        width: 600px;
    }
}

@media (max-width:685px) {
    .section__listen {
        width: 180px;
    }
}

.listen__title {
    margin-bottom: 56px;
}

.title {
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 5px;
}

.lines {
    padding-left: 53px;
    background-image: url("../img/Lines2.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.listen__list {
    display: flex;
}

.listen__list-item {
    position: relative;
}

.listen__list-item:last-child {
    margin-right: 0;
}

.listen__img {
    position: relative;
    margin-bottom: 29px;
    position: relative;
}

.listen__img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(12, 17, 35, 0.65);
    transition: opacity 0.3s;
    opacity: 0;
}

.listen__cover {
    display: block;
    width: 100%;
}

.play {
    width: 32px;
    height: 33px;
    background-image: url("../img/triangles.svg"); 
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.listen__play {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    opacity: 0;
    transition: opacity 0.3s;
}

.listen__prop_name {
    margin-bottom: 11px;
    position: relative;    
}

.listen__prop_name::before {
    content: attr(data-name);
    position: absolute;
    background: linear-gradient(to left, #ff7d56 0%, #ff498e 100%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 0;
    height: 100%;
    transition: width 0.3s;
}

.listen__arrow {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 0.3s;
}

.listen__prop {
    display: block;
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
}

.listen__prop_schedule {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins Regular';
    transition: opacity 1s;
    transition-delay: 0.3s;
}

.listen__live:hover .listen__img::before {
    opacity: 1;
    transition: opacity 0.3s;
}

.listen__live:hover .listen__play {
    opacity: 1;
    transition: opacity 0.3s;
}

.listen__live:hover .listen__prop_name::before {
    width: 100%;
    transition: width 0.3s;
}

.listen__live:hover .listen__prop_schedule {
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
}

.listen__live:hover .listen__arrow {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 0.3s; 
}

.listen__button {
    background-color: transparent;
    border: none;
    position: absolute;
    height: 48px;
    top: 315px;
}

.listen__button_left {
    left: -227px;
}

@media (max-width: 1355px) {
    .listen__button_left {
        left: -40px;
    }
}

.listen__button_right {
    -moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: -227px;
}

@media (max-width: 1355px) {
    .listen__button_right {
        right: -40px;
    }
}

.listen__arrow-s {
    position: relative;
    z-index: 20;
}

.listen__button:before {
    content: "";
    position: absolute;
    width: 0;
    height: 48px;
    border-radius: 2px;
    background: #2c3552;
    transition: width 1s;
    right: 20px;
    top: 0;
    z-index: 0;
}

.listen__button:hover:before {
    width: 63px;
}

/* ############################################################################

main__section3

############################################################################ */

.section_purple {
    background-color: #13142e;
}

@media (max-width:1355px) {
    .section__podcasts {
        padding-left: 20px;
        padding-right: 20px;
        width: 570px;
    }
}

@media (max-width:630px) {
    .section__podcasts {
        width: 320px;
    }
}

.podcasts {
    padding-top: 107px;
    padding-bottom: 110px;
}

.podcasts__title {
    margin-bottom: 54px;
}

.podcasts__music {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

@media (max-width:1355px) {
    .podcasts__music {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width:630px) {
    .podcasts__music {
        grid-template-columns: repeat(1, 1fr);
    }
} 

.podcasts__author {
    display: block;
    width: 270px;
    height: 270px;
    position: relative;
    background-color: #252c47;
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 5px;
    padding-left: 27px;
    padding-top: 42px;
}

.podcasts__author_nile { 
    background-image: url("../img/Nile Rodgers.png");
}

.podcasts__author_Beatles {
    background-image: url("../img/Beatles.png");
}

.podcasts__author_Daft {
    background-image: url("../img/kanyeWest.png");
}

.podcasts__author_Bowie {
    background-image: url("../img/David Bowie.png");
}

.podcasts__author_Counties {
    background-image: url("../img/Counties_Radio.png");
}

.podcasts__author_Cambridgeshire {
    background-image: url("../img/Cambridgeshire.png");
}

.podcasts__author_Newcastle {
    background-image: url("../img/Newcastle.png");
}

.podcasts__author_Lancashire {
    background-image: url("../img/Lancashire.png");
}

.podcasts__play {
    position: absolute;
    bottom: 30px;
    left: 25px;
    width: 25px;
    height: 25px;
    background-size: contain;
    transition: all 0.3s ease-in-out;
}

.podcasts__author_nile:hover .podcasts__play {
    transform: scale(1.3);
    transition: all 0.3s;
}

.podcasts__author_nile:hover .podcasts__text_name::before {
    width: 100%;
    transition: width 1s;
}

.podcasts__author_Beatles:hover .podcasts__play {
    transform: scale(1.3);
    transition: all 0.3s;
}

.podcasts__author_Beatles:hover .podcasts__text_name::before {
    width: 100%;
    transition: width 1s;
}

.podcasts__author_Daft:hover .podcasts__play {
    transform: scale(1.3);
    transition: all 0.3s;
}

.podcasts__author_Daft:hover .podcasts__text_name::before {
    width: 100%;
    transition: width 1s;
}

.podcasts__author_Bowie:hover .podcasts__play {
    transform: scale(1.3);
    transition: all 0.3s;
}

.podcasts__author_Bowie:hover .podcasts__text_name::before {
    width: 100%;
    transition: width 1s;
}

.podcasts__author_Counties:hover .podcasts__play {
    transform: scale(1.3);
    transition: all 0.3s;
}

.podcasts__author_Counties:hover .podcasts__text_name::before {
    width: 100%;
    transition: width 1s;
}

.podcasts__author_Cambridgeshire:hover .podcasts__play {
    transform: scale(1.3);
    transition: all 0.3s;
}

.podcasts__author_Cambridgeshire:hover .podcasts__text_name::before {
    width: 100%;
    transition: width 1s;
}

.podcasts__author_Newcastle:hover .podcasts__play {
    transform: scale(1.3);
    transition: all 0.3s;
}

.podcasts__author_Newcastle:hover .podcasts__text_name::before {
    width: 100%;
    transition: width 1s;
}

.podcasts__author_Lancashire:hover .podcasts__play {
    transform: scale(1.3);
    transition: all 0.3s;
}

.podcasts__author_Lancashire:hover .podcasts__text_name::before {
    width: 100%;
    transition: width 1s;
}

.podcasts__text {
    color: #fefefe;
    font-family: 'Fira Sans Condensed Regular';
    font-size: 19px;
    line-height: 19px;
    position: relative;
    margin-bottom: 11px;
}

.podcasts__text_name::before {
    content: attr(data-author);
    position: absolute;
    background: linear-gradient(to left, #ff7d56 0%, #ff498e 100%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 0;
    height: 100%;
    transition: width 1s;
}

.podcasts__text_name {
    display: block;
    margin-bottom: 11px;
}  

.podcasts__text_time {
    font-family: 'Poppins Regular';
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 129px;
}

/* ############################################################################

main__section4

############################################################################ */

@media (max-width: 1355px) {}

.section__schedule {
    padding-top: 112px;
    padding-bottom: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule__week {
    width: 1056px;
    display: flex;
    justify-content: center;
    background-color: #1e253f;
    border-radius: 5px;
    border: 1px solid #323952;
}

@media (max-width: 1355px) {
    .schedule__week {
        width: 525px;
    }
}

@media (max-width: 725px) {
    .schedule__week {
        width: 280px;
    }
}

.schedule__days {
    display: flex;
    align-items: center;
}

.schedule__day {
    background-color: transparent;
    border: none;
    padding-top: 17px; 
    padding-bottom: 17px;
    padding-right: 44px;
    padding-left: 45px;
    font-size: 16px;
    color: #ffffff;
    transition: all 0.3s;
    position: relative;
}

@media (max-width: 1355px) {
    .schedule__day {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
    }
}

@media (max-width: 725px) {
    .schedule__day {
        padding-right: 3px;
        padding-left: 3px;
        font-size: 8px;
    }
}

.schedule__day:hover {
    padding: 13px 44px 13px 45px;
    box-shadow: 8px 7px 40px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #3d466a;
    transition: all 0.3s;
}

@media (max-width: 1355px) {
    .schedule__day:hover {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (max-width: 725px) {
    .schedule__day:hover {
        padding-right: 3px;
        padding-left: 3px;
    }
}

.schedule__day_active {
    padding: 13px 42px 13px 42px;
    box-shadow: 8px 7px 40px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #3d466a;
    transition: all 0.3s;
    pointer-events: none;
    background: linear-gradient(to left, #ff7d56 0%, #ff498e 100%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

@media (max-width: 1355px) {
    .schedule__day_active {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.schedule__day::before {
    content: attr(data-day);
    position: absolute;
    background: linear-gradient(to left, #ff7d56 0%, #ff498e 100%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 0;
    height: 100%;
    left: 0;
    transition: width 0.3s;
}

.schedule__day:hover::before {
    width: 100%;
    transition: width 0.3s;    
}

.schedule__radio {
    width: 1056px;
    padding-top: 50px;
    padding-bottom: 53px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 12px;
    justify-content: center;
    border-radius:0 0 5px 5px;
    background-color: #1e253f;
}

@media (max-width: 1355px) {
    .schedule__radio {
        width: 525px;
        grid-template-columns: repeat(3, 1fr);
    }

    .schedule__radio li:last-child {
        grid-column: 2/2;
    }
}

@media (max-width: 725px) {
    .schedule__radio {
        width: 280px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .schedule__radio li:last-child {
        grid-column: 1/1;
    }
}

.schedule__radio_none {
    display: none;
} 

.schedule__radio_active {
    display: grid;
}

.faded {
    opacity: 0;
    transition: opacity 0.3s;
}

.faded.in {
    opacity: 1;
    transition: opacity 0.3s;
}

.schedule__radio-name {
    display: block;
    width: 224px;
    padding-top: 29px;
    padding-left: 32px;
    border-radius: 5px;
    background-color: #252c47;
}

.radio__name {
    color: #fefefe;
    font-size: 17px;
    margin-bottom: 9px;
    line-height: 18px;
    position: relative;
}

.radio__name::before {
    content: attr(data-radio);
    position: absolute;
    background: linear-gradient(to left, #ff7d56 0%, #ff498e 100%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 0;
    height: 100%;
    transition: width 0.3s;
}

.radio:hover .radio__name::before {
    width: 100%;
    transition: width 0.3s;    
}

.radio__genre {
    margin-bottom: 23px;
    color: #f3f3f3;
    font-family: 'Poppins Regular';
    font-size: 12px;
    line-height: 12px;
}

.radio__play {
    width: 29px;
    height: 29px;
    background-size: contain;
    display: inline-block;
    transition: all 1s ease-in-out;
}

.radio:hover .radio__play {
    transform: scale(1.3);
    transition: all 1s;
}

.radio__time {
    color: #dbdbdb;
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    margin-bottom: 26px;
    margin-left: 74px;
}

.schedule__btn {
    
}

.v {
    background-color: transparent;
    border: none;
    top: 50%;
    transform: translate(-50%);
}

.v_left {
    position: absolute;
    transition: left 0.3s;
    left: -57px;
}

.v_left:hover {
    left: -60px;
    transition: left 0.3s;
}

@media (max-width: 1355px) {
    .v_left {
        left: 0px;
    }

    .v_left:hover {
        left: -5px;
        transition: left 0.3s;
    }
}

.v_right {
    position: absolute;
    -moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: -57px;
    transition: right 0.3s;
}

.v_right:hover {
    right: -60px;
    transition: right 0.3s;
}


@media (max-width: 1355px) {
    .v_right {
        right: 0px;
    }

    .v_right:hover {
        right: -5px;
        transition: right 0.3s;
    }
}


/* ############################################################################

main__section5

############################################################################ */

.section__video {
    padding-top: 108px;
    padding-bottom: 110px;
    background-image: url("../img/wiz-khalifa.png");  
    background-repeat: no-repeat;
    background-position: bottom right;
}

@media (max-width: 1355px) {
    .section__video {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 980px) {
    .section__video {
        width: 550px;
    }
}

@media (max-width: 685px) {
    .section__video {
        width: 270px;
    }
}

.video__title {
    margin-bottom: 145px;
}

.video__author {
    width: 451px;
}

.video__play {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    background-color: #1d243d;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    grid-row: 1/3;
}

.video__name {
    color: #ffffff;
    font-size: 35px;
    line-height: 35px;
    font-weight: 400;
    align-self: flex-start;
}

.video__description {
    color: #f3f3f3;
    font-family: 'Poppins Regular';
    font-size: 15px;
    width: 373px;
}

@media (max-width: 685px) {
    .video__description {
        width: 220px;
    }
}

.video__author {
    display: grid;
    grid-template-columns: 52px 373px;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 25px;
    margin-bottom: 117px;
}

.footer__swiper {
    position: relative;
}

.video__menu {
    position: relative;
}

.video__picture {
    display: flex;
    justify-content: space-between;
}

.video__img {
    padding-top: 94px;
    padding-left: 26px;
    padding-bottom: 21px;
    position: relative;
    width: 270px;
    background-color: #6f6f6f;
    border-radius: 5px;
}

.video__img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(12, 17, 35, 0.65);
    transition: opacity 0.3s;
    opacity: 0;
}

.video__img:hover::before {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
}

.video__run {
    position: absolute;
    width: 25px;
    height: 25px;
    background-size: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in-out;
}

.video__img:hover .video__run {
    transform: scale(1.3) translate(-50%, -50%);
    transition: all 1s;
}

.video__text {
    color: #fefefe;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 14px;
}

.video__genre {
    color: #f0f0f0;
    font-family: 'Poppins Regular';
    font-size: 13px;
    line-height: 13px;
}

.v_left2 {
    position: absolute;
    transition: left 0.3s;
    left: -57px;
}

.v_left2:hover {
    left: -60px;
    transition: left 0.3s;
}

.v_right2 {
    position: absolute;
    -moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: -57px;
    transition: right 0.3s;
}

.v_right2:hover {
    right: -60px;
}

/* ############################################################################

main__section6

############################################################################ */

.section__chart {
    padding-top: 108px;
    padding-bottom: 108px;
}

@media (max-width: 1355px) {
    .section__chart {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width:665px) {
    .section__chart {
        width: 280px;
    }
}

.chart__title {
    margin-bottom: 54px;
}

.chart__units {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 26px;
    margin-bottom: 38px;
}

@media (max-width: 1355px) {
    .chart__units {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.chart__list {
    counter-reset: section;
    list-style-type: none;
}

.unit {
    background-color: #1e253f;
    width: 572px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.3s;
    margin-bottom: 15px;
}

@media (max-width:665px) {
    .chart__unit {
        width: 280px;
    }
}

.chart__unit::before {
    counter-increment: section;
    content: counters(section, ".");
    color: #ffffff;
    font-family: 'Fira Sans Condensed Semibold';
    font-size: 25px;
    line-height: 25px;
    justify-self: center;
    align-self: center;
    grid-row: 1/3;
}

.chart__unit:last-child {
    margin-bottom: 0;
}

.chart__unit:hover {
    box-shadow: 17px 14px 58px rgba(13, 15, 23, 0.24);
    background-color: #252c47;
    transition: all 0.3s;
    transform: translate(39px);
}

.chart__number {
    color: #ffffff;
    font-family: 'Fira Sans Condensed Semibold';
    font-size: 25px;
    line-height: 25px;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

.chart__photo {
    width: 80px;
    height: 80px;
    background-color: #6f6f6f;
    grid-row: 1/3;
    grid-column: 2/3;
}

@media (max-width:665px) {
    .chart__photo {
        width: 60px;
        height: 60px;
    }
}

.chart__name {
    color: #ffffff;
    font-family: 'Fira Sans Condensed Regular';
    font-size: 20px;
    line-height: 20px;
    grid-column: 3/4;
    align-self: center;
}

@media (max-width:665px) {
    .chart__name {
        font-size: 15px;
        line-height: 15px;
        padding-left: 5px;
    }
}

.chart__prop {
    color: #f1f1f1;
    font-family: 'Poppins Regular';
    font-size: 14px;
    line-height: 14px;
    grid-column: 3/4;
    align-self: center;
}

@media (max-width:665px) {
    .chart__prop {
        padding-left: 5px;
    }    
}

.chart__play {
    grid-row: 1/3;
    grid-column: 4/5;
    justify-self: flex-end;
    align-self: center;
    width: 29px;
    height: 29px;
    background-size: contain;
}

.chart__basket {
    grid-row: 1/3;
    grid-column: 5/6;
    justify-self: center;
    align-self: center;
}

.chart__description {
    width: 573px;
    background-color: #1e253f;
    padding-top: 59px;
    padding-left: 71px;
    display: none;
}

.chart__description_active {
    display: block;
}

@media (max-width: 1355px) {
    .chart__description {
        display: none;
    }
}

.smooth {
    opacity: 0;
    transition: opacity 0.3s;
}

.show {
    opacity: 1;
    transition: opacity 0.3s;
}

.chart__video {
    width: 442px;
    height: 240px;
    border-radius: 5px;
    background-color: #353646;
    margin-bottom: 22px;
}

.chart__info {
    color: #ffffff;
    font-family: 'Fira Sans Condensed Regular';
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 57px;
}

.chart__positions {
    display: flex;
    justify-content: space-between;
    width: 442px;
    
}

.peek {
    border-right: 1px solid #383f5c;
    border-left: 1px solid #383f5c;
    width: 199px;
}

.chart__week:last-child {
    border-right: none;
}

.chart__position{
    text-align: center;
    color: #f1f1f1;
    font-family: 'Fira Sans Condensed Regular';
    font-size: 15px;
    line-height: 15px;
}

.chart__positions_last {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 13px;
}

.chart__tracklist {
    display: flex;
}

.chart__btn-name {
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    margin-right: 23px;
}

.chart__view {
    background-color: transparent;
    border: none;
    transition: all 0.3s;
}

.chart__view:hover {
    transform: translate(5px);
    transition: all 0.3s;
}

/* ############################################################################

footer

############################################################################ */

.footer__center {
    padding-top: 109px;
    padding-bottom: 122px;
    border-bottom: 1px solid #1e253f;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
}

@media (max-width:1355px) {
    .footer__center {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width:840px) {
    .footer__center {
        width: 280px;
        grid-template-columns: 1fr;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.footer__logo {
   margin-top: 8px; 
   margin-bottom: 34px;
   grid-row: 1/3;
}

.footer__language {
    font-family: 'Poppins Regular';
    font-size: 15px;
    line-height: 15px;
    color: #c1c3da;
    grid-row: 3/4;
    margin-bottom: 48px;
    display: flex;
}

/* .footer__lang {
    color: #ffffff;
    font-size: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
} */

.jq-selectbox {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #13142e;
    margin-left: 5px;
    width: 127px;
}

.jq-selectbox__select {
    width: 111px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jq-selectbox__select-text {
    font-family: 'Poppins Regular';
    color: #ffffff;
    font-size: 15px;
    line-height: 18px;
}

.jq-selectbox__dropdown ul li {
    margin: 10px;;
}

.jq-selectbox__trigger {
    background-image: url("../img/drop_list.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 6px;
}


.footer__buttons {
    grid-column: 1/2;
    grid-row: 4/5;
}

@media (max-width:840px) {
    .footer__buttons {
        margin-bottom: 20px;
    }
}

.footer__btn {
    margin-right: 10px;
} 

.sign {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #383f5c;
    width: 110px;
    height: 38px;
    color: #848597;
    transition: all 0.3s;
}

.sign:hover {
    transition: all 0.3s;
    background-color: #ffffff;
    color: #570fc6;
}

.footer__service {
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 49px;
}

@media (max-width:840px) {
    .footer__service {
        grid-column: 1/1;
        margin-bottom: 18px;
    }
}

.footer__services-list {
    grid-column: 2/3;
    grid-row: 2/6;
}

@media (max-width:840px) {
    .footer__services-list {
        grid-column: 1/1;
        grid-row: 6/6;
    }
}

.footer__serv-unit {
    display: block;
    color: #c1c3da;
    font-family: 'Poppins Regular';
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 18px;
}

.footer__serv-unit:last-child {
    /* margin-bottom: 0; */
}

.footer__serv-unit_col {
    grid-row: 2/8;
    grid-column: 3/4;
}
@media (max-width:840px) {
    .footer__serv-unit_col {
        grid-row: 8/8;
        grid-column: 1/1;
    }
}

.footer__events {
   grid-row: 2/6;
}

@media (max-width:840px) {
    .footer__events {
        grid-row: 10/10;
        grid-column: 1/1;
    }
}

.footer__New-York {
    border-radius: 5px;
    border: 1px solid #383f5c;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 270px;
}

.footer__time {
    border-radius: 5px;
    background-color: #1e253f;
    color: #ffffff;
    font-family: 'Poppins Regular';
    font-size: 15px;
    line-height: 15px;
    padding: 14px 19px;
    margin-right: 20px;
    grid-row: 1/3;
}

.footer__city {
    color: #c1c3da;
    font-family: 'Poppins Regular';
    font-size: 15px;
    line-height: 15px;    
}

.footer__date {
    color: #c1c3da;
    font-family: 'Poppins Regular';
    font-size: 12px;
    line-height: 12px;  
}

.footer__rights {
    padding-top: 35px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

@media (max-width:840px) {
    .footer__rights {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        width: 280px;
    }
}

.footer__2018 {
    
}

.footer__copy {
    color: #ffffff;
    font-family: 'Poppins Regular';
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 19px;
}

@media (max-width:840px) {
    .footer__copy {
        font-size: 11px;
        line-height: 11px;
        text-align: center;
    }
}

.footer__privacy {
    color: #848597;
    font-family: 'Poppins Regular';
    font-size: 15px;
    line-height: 15px;
}

@media (max-width:840px) {
    .footer__privacy {
        text-align: center;
        margin-bottom: 20px;
    }
}

.footer__cont {
    
}

.footer__connect {
    color: #ffffff;
    font-family: 'Poppins Regular';
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 22px;
    text-align: center;
}

.footer__social {
    display: flex;
    align-items: flex-end;
}

@media (max-width:840px) {
    .footer__social {
        justify-content: center;
    }
}

.footer__soc {
    margin-right: 19px;
}

.footer__soc:last-child {
    margin-right: 0;
}